* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#titolo{
    font-family:com ;
    color: rgb(197, 0, 105);
    text-align: center;margin-top: 40px;
}

#lorem{
    margin-top: 50px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

#section{
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

#a{
    width: 106px;
    margin-left: 15%;
    margin-top: 50px;
    max-width: 100%;
    float: left;
}

#b{
    width: 106px;
    margin-left: 30px;
    margin-top: 50px;
    max-width: 100%;
    float: left;
}

#foto-righ{
    float: left;
    width: 100px;
    
}

#dati{
    float: left;
    margin-top: 50px;
    padding: 10px;
    padding-right: 80px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.nome, .lavoro, .email{
    padding: 5px;
}

.email{
    color: deepskyblue;
}











/* #content{
      float: left;
    width: 350px;
}

#foto-left{
    position: relative;
}

#foto-left img{
    max-width: 100%;
}  */